.detail{
    width: 100%;
    height: 695px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    &__image{
        height: 512px;
        width: 384px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        //background-color: blue;
    }
    @include small{
        height: auto;
        align-items: top;
        justify-content: flex-start;
        flex-direction: column;
        &__image{
            height: 437px;
            width: 100%;
        }
    }
    @include tablet{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        &__image{
            height: 437px;
            width: 100%;
        }
    }
}

.sidebar{
    height: 696px;
    width: 409px;
    //background-color: purple;   
    margin-left: 30%; 
    &__ruta{
        color: $color--grey-4;
    }
    &__description{
        width: 100%;
        height: 62px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__colors{
        height: 54px;
        width: 264px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            width: 100%;
            height: 26px;      
            display: flex;
            justify-content: space-between;     
        }
    }
    &__size{
        height: 76px;
        width: 384px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: space-between;
        }
        &__button{    
            height: 48px;
            width: 48px;
            border-radius: 40px;
            padding: 8px;
            border: 1px solid $color--grey-3;
            background-color: $color--white;
            transition: 0.3s ease-in background-color;
            //styleName: Body/16 Regular;
            font-family: $font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-align: center;
            &--black{
                @extend .sidebar__size__button;
                background-color: $color--black;
                color: $color--white;
                transition: 0.3s ease-in background-color;
            }
        }   
    }
    &__add{
        height: 52px;
        width: 384px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color--white;
        border: none;
        background-color: $color--green-2;
        margin-top: 24px;
    }

    &__body{
        width: 100%;
        height: 316px;
        margin-top: 24px;
        &__header{
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
        }
    }
    @include small{
        margin-left: 0;
        width: 100%;
        height: auto;
        padding: 8px;
        &__ruta{
            //styleName: Caption/12 Regular;
            font-family: $font;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: left;

        }
        &__description{
            height: 88px;           
        }

    }
    @include tablet{
        margin-left: 0;
    }
}