$color--black: #000000; 
$color--grey: #f9f8f8; 
$color--white: #ffffff; 
$color--green-1: #65c482; 
$color--green-2: #2d9d20; 
$color--grey-2: #fbfdff; 
$color--grey-3: #656f7e; 
$color--red: #ff4a4a; 
$color--grey-4: #b8b4b4; 
