.card{
    width: 384px;
    height: auto;
    &__img{  
        width: 100%;
        height: 512px;
       
    }
    &__image{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body{
        width: 384px;
        height: 106px;
        padding-top: 8px;
        color:$color--black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__color{
            width: 264px;
            height: 26px;
            display: flex;
            justify-content: space-between;
        }
        &__circle{
            height: 26px;
            width: 26px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 1);
            &--first{
                @extend .card__body__circle;
                border: 2px solid rgba(255, 255, 255, 1);
            }
        }
        &__footer{
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: space-between;
            p{
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.03em;
                text-align: right;
            }
        }
        &__title{
            color:#000000;
            text-decoration: none;
        }
    }

    @include small{
        height: 496px;
        width: 328px;
        margin-bottom: 80px;
        &__img{  
            height: 496px;
        }
        &__body{
            height: 122px;
            width: 328px;
            &__footer{
                height: 36px;
                p{
                    font-size: 12px; 
                }
            }
        }
       
    }
}