//GLOBAL STYLES
@import './styles/colors';
@import './styles/fonts';
@import './styles/base';
@import './styles/mixins';

//CONTAINERS
@import './containers/layout';
@import './containers/ProductWrapper/ProductList';

//COMPONENTES
@import './components/Card/Card';
@import './components/Header/Header';
@import './components/Search/Search';
@import './components/Hero/hero';
@import './components/Filter/Filter';
@import './components/Option/Option';
@import './components/Drop/Drop';
@import './components/Detail/Detail';
@import './components/Cart/Cart';
@import './components/Item/Item';
@import './components/CheckoutForm/Checkout';

